main {
  min-height:85vh;
}

.popover-header {
  text-align: center;
}


.popover-body {
  text-align: center;
}

li .fa-user {
  margin-right:20px;
}
.side-ico {
  margin-right: 10px; 
}

.service-info{
  border-bottom: 2px black solid;
}

.non-user-nav{
  margin-left:15px;
}

.nav-item svg:hover{
  color:rgb(250, 255, 197);
}

.ico-nav{
  color:white;
  font-size: 1.5em;
}

.ico-user{
  color:rgb(250, 255, 181);
  font-size: 1.5em;
  border: 2px rgb(250,255,181) solid;
  padding :2px;
  border-radius: 5px;
}

.nav-item {
  padding: 8px;
  /* border: 1px grey solid;
  border-radius: 2px; */
}

.nav-item a{

  color: rgb(73, 73, 73)
}


#ico-user {
  color:rgb(255, 252, 204);
  margin-left: 5px;
  border: 1px white solid;
  padding: 3px;
  border-radius: 2px;
}


#argo-nav {
  background-color:#6f8dc4;
}

#ticker {
  display: block;
  margin:auto;
}

#logged-user {
  color:white;
  margin-right:20px;
}

.logo  {
  padding-right: 20px;
}

footer {
  border-top: 1px lightgray dashed;
}

.sticky-top .nav{
 padding:20px 10px; 
}

.login-label {
  margin-right:15px;
}

#sidebar nav a:hover{
  text-decoration-line: underline;
  color: white;
}

#sticky-sidebar {
  border-right:1px lightgray solid;
  bottom: 0px;
}

#sidebar nav a {
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: white;
}

.dropdown a {
  color: black;
}

.dropdown a:hover {
  color: black;
}

main {
  margin: 20px;
}

main ul {
  list-style: none;
  padding:0px;
}

.email-nonvalid{
  border-bottom: red 1px dashed;
}

button {
  margin-left: 20px;
  font-size:0.8em;
  padding:3px 30px;
}

main li {
  font-weight: bold;
  padding:20px 0px 20px 0px;
  margin: 0px 20px;
  margin-bottom:20px;
  border-bottom:rgb(226, 226, 226) 1px solid;
}

main li img{
  height:40px;
  margin-right:30px;
  margin-bottom:-10px;
}

main li span {
  font-weight: normal;
  margin-right:20px;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom:10px;
  border-bottom: rgb(167, 167, 167) 1px solid;
}

header img{
  height:40px;
  margin-right:10px;
  margin-bottom:-10px;
}

.service-info input{
  border-radius: 20px;
  background-color:rgb(236, 236, 236);
  border: rgb(112, 112, 112) 1px solid;
  font-size: 1em;
}

.service-info {
  font-size: 1.3em;
}


.value {
  font-weight:bold;
}


.round {
  padding:5px 10px;
  margin-right:10px;
  border: rgb(70, 70, 70) 1px solid;
}

.label {
  padding:0px;
  margin-left:10px;
}

h1 span{
  color:black;
}

header h1{
  margin:0px;
  color:grey;
}